<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.night.mapper.MybatisMapper">
    <select id="findAll" resultType="com.night.pojo.UserPojo">
        select * from t_user;
    </select>

    <select id="findById" resultType="com.night.pojo.UserPojo">
        select * from t_user where id = #{id};
    </select>
    <select id="findById2" resultType="com.night.pojo.UserPojo">
        select * from t_user where id = ${id};
    </select>
</mapper>